# Ignore all scripts except build-loop.sh
*.sh
!build-loop.sh

# Ignore all maps except osm and mapbox ones
maps/*
!maps/osm-*.json
!maps/mapbox-*.json
!maps/opentopomap.json

# Misc files and dirs
Cargo.lock
TODO.md
*.desktop
icons/*

# Build directory
target/*

