# Ignore all scripts except build-loop.sh
*.sh
!build-loop.sh

# Cargo lock file is not needed
Cargo.lock

# Personal task list file
TODO.md

# Ignore all maps except osm and mapbox ones
maps/*
!maps/osm-*.json
!maps/mapbox-*.json

# Build directory
target/*
